html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  float: left;
  display: table;
  position: absolute;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.ice {
  width: 25%;
  height: 33.33%;
  display: inline-block;
  background-color: blue;
  float: left;
}

.path {
  width: 25%;
  height: 33.33%;
  display: inline-block;
  background-color: red;
  float: left;
}

.App {
  text-align: center;
  background-color: red;
  height: 100%;
  width: 100%;
}

.spriteSheet {
  width: 100px;
}

